# Archivos de entorno
.env

# Archivos de certificados y claves privadas
*.pem

# Archivos comprimidos
*.gz

# Archivos de texto temporales o de respaldo
*.txt

# Directorios de entornos virtuales
venv/
env/
.virtualenv/
backapp/

# Archivos de base de datos MySQL (backups y dumps)
*.sql.gz
dump_*.sql

# Directorios de facturas generadas
/xmls

# Archivos de respaldo y copias
*-Copy.py
*-Backup.py
*.bak

# Archivos de log
*.log

# Archivos PDF generados automáticamente
*.pdf

# Archivos temporales de editores
*.swp
*.swo
.idea/
.vscode/
*.DS_Store

# Archivos de caché y compilación de Python
__pycache__/
facturador/__pycache__/
facturador/pages/__pycache__/
*.pyc
*.pyo

# Archivos temporales de subida
.tmp.driveupload/

# Archivos de documentación o estructura
estructura.md
# Considera usar una exclusión más específica en lugar de *.md para permitir README.md
# *.md
!README.md

# Directorios de logs
facturador/logs/

# Directorios innecesarios o pruebas fuera del repositorio principal
facturador/off/
*/sql/

# Directorios de datos de MySQL si usas Docker
mysql_data/

# Archivos de MySQL Workbench
*.mwb
